/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
/.idea/**
!/.idea/misc.xml
!/.idea/ClojureProjectResolveSettings.xml
!/.idea/runConfigurations
!/.idea/runConfigurations/*
/log
*.iml
id_file
resources/public/js/devcardsout
resources/public/js/hitch_devcards.js
