{:aliases
   {:dev {:extra-deps {com.cemerick/piggieback {:mvn/version "0.2.1"},
                       devcards {:mvn/version "0.2.3"}},
          :extra-paths ["src" "dev-resources" "target/devcards"
                        "target/classes"]},
    :provided {:extra-deps {org.clojure/clojure {:mvn/version "1.8.0"},
                            org.clojure/clojurescript {:mvn/version "1.8.51"}}},
    :runner {:extra-deps {com.cognitect/test-runner
                            {:git/url
                               "https://github.com/cognitect-labs/test-runner",
                             :sha "76568540e7f40268ad2b646110f237a60295fa3c"}},
             :main-opts ["-m" "cognitect.test-runner" "-d" "test"]},
    :test {:extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}},
           :extra-paths ["test"]}},
 :deps {},
 :paths ["src" "targer/classes"]}
